.main {
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: 56.25rem) {
  .main {
    align-self: start;
    min-width: 21rem;
  }
}

.featureImage {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  align-self: center;
}
